

<div class="card" > 
  <div class="card-header">
    <h5 class="card-title">{{pageTitle}}</h5>
</div>
<div class="card-body">  
  <div class="row">
    <div class="col-md-auto col-sm-4  mb-1">
      <button 
      style="width: 100%;"
      (click)="toggleImage()"
      class="btn btn-sm btn-primary ">{{showImage ? 'Hide Image' : 'Show Image'}}</button>
    </div>
  
    <div class="col-md-auto col-sm-4  mb-1" *ngIf="products.length">
      <input type="text" 
      [(ngModel)]="listFilter"
      style="padding:4px; height:28px; width: 100%;" 
      placeholder="Filter" 
      #filterInputElemRef      
      />
    </div>

    <div class="col-md-9 col-sm-4  mb-1">
      <a style="margin-top: 0;" 
      [routerLink]="['/products', 0, 'edit']" 
      class="btn btn-primary btn-sm float-right">Add Product</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-auto col-sm-4  mb-1">
      <h3>Filtered By: {{listFilter}}</h3>
    </div>

  </div>

 <div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th style="width: 180px;"></th>
        <th>Product</th>
        <th>Code</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
          <td>
            <img 
              *ngIf="showImage"
              [src]="product.image" 
                [title]="product.productName"
                [style.margin.px]="2"
                [style.width.px]="50"
                alt="Product image"
            >
          </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productCode | convertToSpace:'-' }}</td>
        <td>{{product.category}}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.unitPrice | currency: 'BDT':'symbol':'1.2-2' | lowercase}}</td>
        <td>          
          <app-star 
            [rating]="product.starRating"
            (notify)="onRatingClicked($event)"
            ></app-star>
        </td>
        <td>
          <a [routerLink]="['/products', product.productId, 'edit']" style="font-size: 15px; color: dodgerblue;">
            <i class="fa fa-edit"></i>            
          </a>
        </td>
      </tr>
    </tbody>
  </table>  
 </div>
  

</div>


<div class="card-footer">
  <nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
</div>
