<header>
  <nav class="nav">

    <a class="nav-link"
      [routerLink]="['/products']"
      [routerLinkActive]="['link-active']"
      >Products</a>

    <a class="nav-link"
      [routerLink]="['/components']"
      [routerLinkActive]="['link-active']"
      >Components</a>

    <a class="nav-link"
      [routerLink]="['/routing']"
      [routerLinkActive]="['link-active']"
      >Routing</a>
    <a class="nav-link"
      [routerLink]="['/di']"
      [routerLinkActive]="['link-active']"
     >Dependency Injection</a>

     <a class="nav-link"
     [routerLink]="['/ce']"
     [routerLinkActive]="['link-active']"
    >Custom Element</a>
  </nav>
</header>
<div class="container" style="padding-top: 20px;">

<router-outlet></router-outlet>
</div>
